In [1]:
!pip show imbalanced-learn

Name: imbalanced-learn
Version: 0.8.1
Summary: Toolbox for imbalanced dataset in machine learning.
Home-page: https://github.com/scikit-learn-contrib/imbalanced-learn
Author: None
Author-email: None
License: MIT
Location: /usr/local/lib/python3.7/dist-packages
Requires: scipy, scikit-learn, joblib, numpy
Required-by: imblearn

In [4]:
!pip install imbalanced-learn

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: imbalanced-learn in /usr/local/lib/python3.7/dist-packages (0.8.1)
Requirement already satisfied: scikit-learn>=0.24 in /usr/local/lib/python3.7/dist-packages (from imbalanced-learn) (1.0.2)
Requirement already satisfied: scipy>=0.19.1 in /usr/local/lib/python3.7/dist-packages (from imbalanced-learn) (1.4.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from imbalanced-learn) (1.1.0)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.7/dist-packages (from imbalanced-learn) (1.21.6)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.24->imbalanced-learn) (3.1.0)

In [5]:
import numpy as np
from imblearn.under_sampling import RandomUnderSampler

In [6]:
import pandas as pd
bank_df = pd.read_csv('bank-prep.csv',sep=',')
bank_df.head()

,age,default,balance,housing,loan,day,duration,campaign,pdays,previous,...,dec,feb,jan,jul,jun,mar,may,nov,oct,sep
0,58,0,2143,1,0,5,261,1,-1,0,...,0,0,0,0,0,0,1,0,0,0
1,36,0,265,1,1,5,348,1,-1,0,...,0,0,0,0,0,0,1,0,0,0
2,25,0,-7,1,0,5,365,1,-1,0,...,0,0,0,0,0,0,1,0,0,0
3,53,0,-3,0,0,5,1666,1,-1,0,...,0,0,0,0,0,0,1,0,0,0
4,24,0,-103,1,1,5,145,1,-1,0,...,0,0,0,0,0,0,1,0,0,0

In [13]:
X = np.array(bank_df.drop('y',axis=1))
Y = np.array(bank_df[['y',]])
print(np.sum(Y==1), np.sum(Y==0))

sampler = RandomUnderSampler(random_state=42)
X,Y = sampler.fit_resample(X,Y) 
print(np.sum(Y==1), np.sum(Y==0))

820 6113
820 820

In [14]:
#over sampling
from imblearn.over_sampling import RandomOverSampler

In [17]:
X = np.array(bank_df.drop('y', axis = 1))
Y = np.array(bank_df[['y',]])
print(np.sum(Y==1), np.sum(Y ==0))

sampler = RandomOverSampler(random_state=42)
X, Y = sampler.fit_resample(X,Y)
print(np.sum(Y==1), np.sum(Y ==0))

820 6113
6113 6113