In [3]:
numpy
ndim shape
reshape
masking
arange
astype
행렬연산을 빠르게
데이터 생성, 수정

In [8]:
arr = np.array(
    [[1,2,3],
    [4,5,6]]
    )
arr

array([[1, 2, 3],
       [4, 5, 6]])

In [9]:
arr.ndim

2

In [10]:
arr.shape

(2, 3)

In [14]:
arr2 = arr.reshape(3,2)
arr2.shape

(3, 2)

In [16]:
arr3 = arr.reshape(3,2,1)
arr3

array([[[1],
        [2]],

       [[3],
        [4]],

       [[5],
        [6]]])

In [18]:
arr4 = arr.reshape(1,6)
arr4

array([[1, 2, 3, 4, 5, 6]])

In [23]:
arr[0,0] = 7
arr

array([[7, 2, 3],
       [4, 5, 6]])

In [24]:
arr[1,:]=np.array([5,6,7])

In [25]:
arr

array([[7, 2, 3],
       [5, 6, 7]])

In [27]:
np.arange(0,10,2)

array([0, 2, 4, 6, 8])

In [31]:
arr.astype(np.float64)

array([[7., 2., 3.],
       [5., 6., 7.]])

In [37]:
np.where(arr > 4)

(array([0, 1, 1, 1]), array([0, 0, 1, 2]))

In [36]:
arr[np.where(arr > 4)]

array([7, 5, 6, 7])

In [38]:
np.where(arr > 5, 11, 0)

array([[11,  0,  0],
       [ 0, 11, 11]])

In [39]:
np.array([1,2,3,4,5,6]).reshape(2,3)

array([[1, 2, 3],
       [4, 5, 6]])

In [40]:
np.arange(1,7).reshape(2,3)

array([[1, 2, 3],
       [4, 5, 6]])

In [43]:
np.ones(shape=(3,3))

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

In [45]:
np.zeros((2,2))

array([[0., 0.],
       [0., 0.]])

In [48]:
arr = np.arange(1,10).reshape(3,3)
arr

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [49]:
np.transpose(arr)

array([[1, 4, 7],
       [2, 5, 8],
       [3, 6, 9]])

In [50]:
arr.T

array([[1, 4, 7],
       [2, 5, 8],
       [3, 6, 9]])

In [52]:
np.diag(arr)

array([1, 5, 9])

In [58]:
np.eye(3,3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [56]:
np.identity(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [62]:
np.linspace(1,10,20)

array([ 1.        ,  1.47368421,  1.94736842,  2.42105263,  2.89473684,
        3.36842105,  3.84210526,  4.31578947,  4.78947368,  5.26315789,
        5.73684211,  6.21052632,  6.68421053,  7.15789474,  7.63157895,
        8.10526316,  8.57894737,  9.05263158,  9.52631579, 10.        ])

In [67]:
np.linspace(1,3,10)

array([1.        , 1.22222222, 1.44444444, 1.66666667, 1.88888889,
       2.11111111, 2.33333333, 2.55555556, 2.77777778, 3.        ])

In [66]:
np.logspace(1,3,10)

array([  10.        ,   16.68100537,   27.82559402,   46.41588834,
         77.42636827,  129.1549665 ,  215.443469  ,  359.38136638,
        599.48425032, 1000.        ])

In [68]:
np.logspace(np.log10(1),np.log10(3),10)

array([1.        , 1.12983096, 1.27651801, 1.44224957, 1.62949822,
       1.84105755, 2.08008382, 2.35014311, 2.65526446, 3.        ])

In [69]:
np.logspace(np.log10(1),np.log10(3),10).reshape(2,5)

array([[1.        , 1.12983096, 1.27651801, 1.44224957, 1.62949822],
       [1.84105755, 2.08008382, 2.35014311, 2.65526446, 3.        ]])

In [73]:
arr1 = np.arange(1,5).reshape(2,2)
arr1

array([[1, 2],
       [3, 4]])

In [77]:
arr2 = np.arange(5,9).reshape(2,2)
arr2

array([[5, 6],
       [7, 8]])

In [75]:
arr1+arr2

array([[ 6,  8],
       [10, 12]])

In [76]:
arr1 * arr2

array([[ 5, 12],
       [21, 32]])

In [78]:
arr1 @ arr2

array([[19, 22],
       [43, 50]])

In [79]:
np.linalg.inv(arr1)

array([[-2. ,  1. ],
       [ 1.5, -0.5]])

In [80]:
arr1 @ np.linalg.inv(arr1)

array([[1.00000000e+00, 1.11022302e-16],
       [0.00000000e+00, 1.00000000e+00]])

In [81]:
A = np.arange(1,5).reshape(2,2)

In [88]:
B = np.arange(1,3).reshape(1,2)
A,B

(array([[1, 2],
        [3, 4]]),
 array([[1, 2]]))

In [89]:
answer = np.linalg.inv(A) @ B

ValueError: matmul: Input operand 1 has a mismatch in its core dimension 0, with gufunc signature (n?,k),(k,m?)->(n?,m?) (size 1 is different from 2)

In [106]:
np.random.seed(300)
#rand 0 to 1
np.random.rand()
#randn 표준정규분포 (mean : 0, std : 1)
np.random.randn()
#randInt 균등분포 upper lower
np.random.randint(3,5, size=(2,2))
#uniform
np.random.uniform(0,100,(3,3))
#normal 
np.random.normal(5, 1, (2,2))
#choice
np.random.choice(10,2,0)
np.random.choice(np.random.randint(1,10,5), size=3, replace=False)

array([6, 3, 8])

In [107]:
np.random.randint(1,10,5)

array([6, 9, 4, 6, 6])

In [117]:
#shuffle
aaa = np.random.randint(1,10,(3,3))
np.random.shuffle(aaa)
aaa

array([[5, 7, 4],
       [4, 7, 7],
       [4, 9, 6]])

In [120]:
#count
#unique
#bincount

aaa = np.random.randint(1,10,10)

array([6, 9, 5, 6, 9, 1, 2, 5, 1, 4])

In [123]:
np.unique(aaa, return_counts=True)

(array([4, 5, 6, 7, 9]), array([3, 1, 1, 3, 1]))

In [126]:
np.bincount(arr)

ValueError: object too deep for desired array

In [131]:
arr1 = np.random.randint(1,10,size=(2,4))
arr2 = np.random.randint(1,10,size=(2,4))
arr3 = np.random.randint(1,10,size=(2,4))
arr1,arr2,arr3

(array([[1, 7, 1, 5],
        [3, 5, 5, 8]]),
 array([[4, 7, 5, 5],
        [4, 2, 9, 9]]),
 array([[1, 3, 9, 8],
        [2, 5, 1, 4]]))

In [133]:
np.concatenate([arr1, arr2, arr3], axis = 0)
np.concatenate([arr1, arr2, arr3], axis = 1)

array([[1, 7, 1, 5, 4, 7, 5, 5, 1, 3, 9, 8],
       [3, 5, 5, 8, 4, 2, 9, 9, 2, 5, 1, 4]])

In [134]:
np.vstack([arr1,arr2,arr3])

array([[1, 7, 1, 5],
       [3, 5, 5, 8],
       [4, 7, 5, 5],
       [4, 2, 9, 9],
       [1, 3, 9, 8],
       [2, 5, 1, 4]])

In [135]:
np.hstack([arr1,arr2,arr3])

array([[1, 7, 1, 5, 4, 7, 5, 5, 1, 3, 9, 8],
       [3, 5, 5, 8, 4, 2, 9, 9, 2, 5, 1, 4]])

In [139]:
#ravel / flatten
arr = np.arange(1,10).reshape(3,3,1)
# arr.ravel()
arr.flatten()

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [141]:
#squeeze()
arr.squeeze()

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [142]:
np.squeeze(arr)

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [143]:
np.squeeze(arr).shape

(3, 3)

In [145]:
arr.reshape(3,3)

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [147]:
np.save('first_npy.npy',arr)

In [148]:
brr = np.load('first_npy.npy')

In [149]:
brr

array([[[1],
        [2],
        [3]],

       [[4],
        [5],
        [6]],

       [[7],
        [8],
        [9]]])

In [150]:
#Pandas
#numpy로 구성
#series / dataframe

In [151]:
url = 'http://www.kobis.or.kr/kobisopenapi/webservice/rest/boxoffice/searchDailyBoxOfficeList.json?key=c3a0fa760324363ef7cde2afa0d73297&targetDt=20220524'

In [153]:
import requests
resp = requests.get(url)
resp

In [160]:
data = resp.json()

In [162]:
import pandas as pd
df_format = data['boxOfficeResult']['dailyBoxOfficeList']
dfm = pd.DataFrame(df_format)
dfm
dfm.to_csv('test.csv')

In [166]:
import matplotlib.pyplot as plt
%matplotlib inline

In [177]:
ex1 = 'ATGCGCCTGCGTCTGTACTAG'
ex2 = 'ATGCGCTGCGTCTGTACTAG'
START = 'ATG'
END = ['TAA','TAG','TGA']


def inspecter(aaa):
    test = aaa.split()
    print(test)

In [178]:
inspecter(ex1)

['ATGCGCCTGCGTCTGTACTAG']

In [179]:
import seaborn as sns

In [184]:
dfm.value_counts()
dfm['rank'].value_counts()

rnum  rank  rankInten  rankOldAndNew  movieCd   movieNm              openDt      salesAmt    salesShare  salesInten  salesChange  salesAcc     audiCnt  audiInten  audiChange  audiAcc  scrnCnt  showCnt
1     1     0          OLD            20204548  범죄도시 2               2022-05-18  2865885830  88.2        -535978910  -15.8        43525355560  283589   -53073     -15.8       4171033  2311     12533      1
10    10    0          NEW            19888010  시네마 천국               1990-07-07  2400000     0.1         2400000     100          376314000    400      400        100         60918    2        2          1
2     2     0          OLD            20212855  닥터 스트레인지: 대혼돈의 멀티버스  2022-05-04  260195560   8.0         -36413440   -12.3        58874126460  26062    -3340      -11.4       5527573  983      3708       1
3     3     0          NEW            20224634  그대가 조국               2022-05-25  38542600    1.2         38542600    100          43391600     4075     4075       100         4589     17       17         1
4     4     0          OLD            20211568  아치의 노래, 정태춘          2022-05-18  14290100    0.4         1383400     10.7         167211220    1492     130        9.5         17190    132      185        1
5     5     0          OLD            20224270  배드 가이즈               2022-05-04  7743200     0.2         -3232100    -29.4        3596142650   902      -259       -22.3       377468   148      190        1
6     6     1          OLD            20211421  매스                   2022-05-18  6991900     0.2         3181400     83.5         60929700     818      395        93.4        6602     61       96         1
7     7     0          NEW            20217688  광대: 소리꾼              2022-02-24  4368000     0.1         4368000     100          118735170    624      624        100         15059    2        4          1
8     8     1          OLD            20204665  EBS 댄스파티!                        2742000     0.1         810000      41.9         44789000     457      135        41.9        7686     13       13         1
9     9     1          OLD            20210962  우연과 상상               2022-05-04  3881400     0.1         782500      25.3         191551500    414      95         29.8        19213    42       58         1
dtype: int64

In [188]:
dfm.loc[0:3, ['rank','movieNm']]

  rank              movieNm
0    1               범죄도시 2
1    2  닥터 스트레인지: 대혼돈의 멀티버스
2    3               그대가 조국
3    4          아치의 노래, 정태춘

In [192]:
dfm.iloc[0:10, 0:5]

  rnum rank rankInten rankOldAndNew   movieCd
0    1    1         0           OLD  20204548
1    2    2         0           OLD  20212855
2    3    3         0           NEW  20224634
3    4    4         0           OLD  20211568
4    5    5         0           OLD  20224270
5    6    6         1           OLD  20211421
6    7    7         0           NEW  20217688
7    8    8         1           OLD  20204665
8    9    9         1           OLD  20210962
9   10   10         0           NEW  19888010

In [202]:
dfm.loc[:,['rank','movieNm']]

  rank              movieNm
0    1               범죄도시 2
1    2  닥터 스트레인지: 대혼돈의 멀티버스
2    3               그대가 조국
3    4          아치의 노래, 정태춘
4    5               배드 가이즈
5    6                   매스
6    7              광대: 소리꾼
7    8           EBS 댄스파티!
8    9               우연과 상상
9   10               시네마 천국

In [208]:
#isin()
dfm.rename(columns = {'rank':'r'}).r

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
Name: r, dtype: object

In [210]:
dfm.columns

Index(['rnum', 'rank', 'rankInten', 'rankOldAndNew', 'movieCd', 'movieNm',
       'openDt', 'salesAmt', 'salesShare', 'salesInten', 'salesChange',
       'salesAcc', 'audiCnt', 'audiInten', 'audiChange', 'audiAcc', 'scrnCnt',
       'showCnt'],
      dtype='object')

In [215]:
dfm[['rank','movieCd','movieNm']]

  rank   movieCd              movieNm
0    1  20204548               범죄도시 2
1    2  20212855  닥터 스트레인지: 대혼돈의 멀티버스
2    3  20224634               그대가 조국
3    4  20211568          아치의 노래, 정태춘
4    5  20224270               배드 가이즈
5    6  20211421                   매스
6    7  20217688              광대: 소리꾼
7    8  20204665           EBS 댄스파티!
8    9  20210962               우연과 상상
9   10  19888010               시네마 천국

In [217]:
dfm.apply(lambda x : x.unique(), axis=1)

0    [1, 0, OLD, 20204548, 범죄도시 2, 2022-05-18, 2865...
1    [2, 0, OLD, 20212855, 닥터 스트레인지: 대혼돈의 멀티버스, 202...
2    [3, 0, NEW, 20224634, 그대가 조국, 2022-05-25, 3854...
3    [4, 0, OLD, 20211568, 아치의 노래, 정태춘, 2022-05-18,...
4    [5, 0, OLD, 20224270, 배드 가이즈, 2022-05-04, 7743...
5    [6, 1, OLD, 20211421, 매스, 2022-05-18, 6991900,...
6    [7, 0, NEW, 20217688, 광대: 소리꾼, 2022-02-24, 436...
7    [8, 1, OLD, 20204665, EBS 댄스파티! ,  , 2742000, ...
8    [9, 1, OLD, 20210962, 우연과 상상, 2022-05-04, 3881...
9    [10, 0, NEW, 19888010, 시네마 천국, 1990-07-07, 240...
dtype: object