In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
from datetime import datetime

In [3]:
now = datetime.now()

In [4]:
now

datetime.datetime(2022, 6, 8, 9, 3, 35, 488484)

In [5]:
now.year, now.month, now.day, now.hour

(2022, 6, 8, 9)

In [6]:
delta = datetime(2022,5,6) - now

In [7]:
delta

datetime.timedelta(days=-34, seconds=53784, microseconds=511516)

In [10]:
from datetime import timedelta
now + timedelta(14)

datetime.datetime(2022, 6, 22, 9, 3, 35, 488484)

In [11]:
now.strftime('%Y-%m-%d')

'2022-06-08'

In [12]:
str(now)

'2022-06-08 09:03:35.488484'

In [13]:
str_value = '2022-06-08'
datetime.strptime(str_value,'%Y-%m-%d')

datetime.datetime(2022, 6, 8, 0, 0)

In [14]:
dates_list = ['7/6/2022','8/6/2002']

In [15]:
[datetime.strptime(x,'%m/%d/%Y') for x in dates_list]

[datetime.datetime(2022, 7, 6, 0, 0), datetime.datetime(2002, 8, 6, 0, 0)]

In [16]:
from dateutil.parser import parse

In [17]:
parse('2022-05-06')

datetime.datetime(2022, 5, 6, 0, 0)

In [18]:
parse('Jan 31, 2027 10:45 PM')

datetime.datetime(2027, 1, 31, 22, 45)

In [19]:
parse('8/6/2022',dayfirst=True)

datetime.datetime(2022, 6, 8, 0, 0)

In [20]:
date_list2 = ['2022-06-08 09:00:00', '2022-07-08 09:00:00']

In [21]:
pd.to_datetime(date_list2)

DatetimeIndex(['2022-06-08 09:00:00', '2022-07-08 09:00:00'], dtype='datetime64[ns]', freq=None)

In [25]:
idx = pd.to_datetime(date_list2 + [None])

In [26]:
idx

DatetimeIndex(['2022-06-08 09:00:00', '2022-07-08 09:00:00', 'NaT'], dtype='datetime64[ns]', freq=None)

In [27]:
pd.isnull(idx)

array([False, False,  True])

In [28]:
[1,2]+[3,4]

[1, 2, 3, 4]

In [29]:
date_list2 + [None,2, None]

['2022-06-08 09:00:00', '2022-07-08 09:00:00', None, 2, None]

In [30]:
dates = [
    datetime(2011,1,2),
    datetime(2011,1,5),
    datetime(2011,1,7),
    datetime(2011,1,8),
    datetime(2011,1,10),
    datetime(2011,1,12)
]

In [31]:
dates

[datetime.datetime(2011, 1, 2, 0, 0),
 datetime.datetime(2011, 1, 5, 0, 0),
 datetime.datetime(2011, 1, 7, 0, 0),
 datetime.datetime(2011, 1, 8, 0, 0),
 datetime.datetime(2011, 1, 10, 0, 0),
 datetime.datetime(2011, 1, 12, 0, 0)]

In [32]:
ts = pd.Series(np.random.randn(6), index=dates)

In [33]:
ts

2011-01-02    0.918363
2011-01-05   -1.594065
2011-01-07    0.616031
2011-01-08   -2.190091
2011-01-10   -0.537269
2011-01-12   -0.197109
dtype: float64

In [34]:
ts + ts[::2]

2011-01-02    1.836726
2011-01-05         NaN
2011-01-07    1.232062
2011-01-08         NaN
2011-01-10   -1.074537
2011-01-12         NaN
dtype: float64

In [35]:
ts.index[0]

Timestamp('2011-01-02 00:00:00')

In [36]:
stamp = ts.index[2]
stamp

Timestamp('2011-01-07 00:00:00')

In [37]:
ts['1/10/2011']

-0.5372687240552091

In [38]:
ts

2011-01-02    0.918363
2011-01-05   -1.594065
2011-01-07    0.616031
2011-01-08   -2.190091
2011-01-10   -0.537269
2011-01-12   -0.197109
dtype: float64

In [40]:
long_ts = pd.Series(np.random.randn(1000),index = pd.date_range('1/1/2000',periods=1000))
long_ts

2000-01-01    1.048376
2000-01-02    0.676362
2000-01-03    0.048925
2000-01-04   -1.475450
2000-01-05    0.264613
                ...
2002-09-22   -0.974512
2002-09-23    1.609313
2002-09-24    1.206689
2002-09-25   -0.404114
2002-09-26    0.749213
Freq: D, Length: 1000, dtype: float64

In [41]:
len(long_ts)

1000

In [44]:
long_ts['2001-05']

2001-05-01    1.305267
2001-05-02   -0.985363
2001-05-03    0.075263
2001-05-04   -0.085614
2001-05-05    1.379153
2001-05-06   -0.159953
2001-05-07    1.461164
2001-05-08   -0.699899
2001-05-09   -0.095132
2001-05-10   -0.634010
2001-05-11    1.061607
2001-05-12    0.290036
2001-05-13    0.512164
2001-05-14    0.454146
2001-05-15    0.197051
2001-05-16    1.024090
2001-05-17   -0.456340
2001-05-18    2.028626
2001-05-19   -1.022610
2001-05-20   -0.525835
2001-05-21    0.777278
2001-05-22    0.143095
2001-05-23   -1.507048
2001-05-24    2.801300
2001-05-25   -0.215482
2001-05-26    0.405402
2001-05-27   -0.393922
2001-05-28   -0.076976
2001-05-29    0.410801
2001-05-30   -0.585047
2001-05-31    0.798393
Freq: D, dtype: float64

In [47]:
long_ts[datetime(2002,9,1):]

2002-09-01   -0.071959
2002-09-02    0.895854
2002-09-03   -0.140600
2002-09-04    1.233324
2002-09-05    1.832603
2002-09-06    1.314328
2002-09-07    0.028032
2002-09-08   -0.789431
2002-09-09   -0.414823
2002-09-10   -0.238386
2002-09-11   -1.035340
2002-09-12    0.665065
2002-09-13   -0.751353
2002-09-14    0.513124
2002-09-15    0.045603
2002-09-16   -2.007244
2002-09-17   -0.725113
2002-09-18   -0.754527
2002-09-19    0.285625
2002-09-20    1.336788
2002-09-21   -1.376834
2002-09-22   -0.974512
2002-09-23    1.609313
2002-09-24    1.206689
2002-09-25   -0.404114
2002-09-26    0.749213
Freq: D, dtype: float64

In [48]:
long_ts['2002-09-20':'2002-09-26']

2002-09-20    1.336788
2002-09-21   -1.376834
2002-09-22   -0.974512
2002-09-23    1.609313
2002-09-24    1.206689
2002-09-25   -0.404114
2002-09-26    0.749213
Freq: D, dtype: float64

In [49]:
dates = pd.date_range('1/1/2000',periods=100, freq='W-Wed')

In [50]:
dates

DatetimeIndex(['2000-01-05', '2000-01-12', '2000-01-19', '2000-01-26',
               '2000-02-02', '2000-02-09', '2000-02-16', '2000-02-23',
               '2000-03-01', '2000-03-08', '2000-03-15', '2000-03-22',
               '2000-03-29', '2000-04-05', '2000-04-12', '2000-04-19',
               '2000-04-26', '2000-05-03', '2000-05-10', '2000-05-17',
               '2000-05-24', '2000-05-31', '2000-06-07', '2000-06-14',
               '2000-06-21', '2000-06-28', '2000-07-05', '2000-07-12',
               '2000-07-19', '2000-07-26', '2000-08-02', '2000-08-09',
               '2000-08-16', '2000-08-23', '2000-08-30', '2000-09-06',
               '2000-09-13', '2000-09-20', '2000-09-27', '2000-10-04',
               '2000-10-11', '2000-10-18', '2000-10-25', '2000-11-01',
               '2000-11-08', '2000-11-15', '2000-11-22', '2000-11-29',
               '2000-12-06', '2000-12-13', '2000-12-20', '2000-12-27',
               '2001-01-03', '2001-01-10', '2001-01-17', '2001-01-24',
               '2001-01-31', '2001-02-07', '2001-02-14', '2001-02-21',
               '2001-02-28', '2001-03-07', '2001-03-14', '2001-03-21',
               '2001-03-28', '2001-04-04', '2001-04-11', '2001-04-18',
               '2001-04-25', '2001-05-02', '2001-05-09', '2001-05-16',
               '2001-05-23', '2001-05-30', '2001-06-06', '2001-06-13',
               '2001-06-20', '2001-06-27', '2001-07-04', '2001-07-11',
               '2001-07-18', '2001-07-25', '2001-08-01', '2001-08-08',
               '2001-08-15', '2001-08-22', '2001-08-29', '2001-09-05',
               '2001-09-12', '2001-09-19', '2001-09-26', '2001-10-03',
               '2001-10-10', '2001-10-17', '2001-10-24', '2001-10-31',
               '2001-11-07', '2001-11-14', '2001-11-21', '2001-11-28'],
              dtype='datetime64[ns]', freq='W-WED')

In [52]:
long_df = pd.DataFrame(np.random.randn(100,4), index=dates, columns=['Colorado','Texas','New York','Ohio'])

In [53]:
long_df

            Colorado     Texas  New York      Ohio
2000-01-05  2.193172 -0.298239 -0.607858 -1.194033
2000-01-12  0.377502  0.130043 -0.410957 -0.377689
2000-01-19 -0.926286 -0.538977 -1.472583 -1.689097
2000-01-26  0.447284 -1.678550  0.832746  0.512167
2000-02-02 -1.577071  0.331070 -0.565128  0.063286
...              ...       ...       ...       ...
2001-10-31  1.383878 -0.921609  1.021940  1.211213
2001-11-07 -1.851781 -0.926156  0.257391  1.154959
2001-11-14  2.198664  1.272696 -0.564289  0.767853
2001-11-21  1.174660  0.570297 -0.608763  0.080680
2001-11-28 -0.900583  0.392501 -1.618827 -1.667792

[100 rows x 4 columns]